<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emp.example.library.employee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:screenOrientation="portrait"
        android:supportsRtl="true">
    </application>
</manifest>